<div id = "sumHolder">

So far this quarter you've spent <%= number_to_currency(current_user.transactions.current_quarter.sum(:amount)) %>, which puts you on pace to spend X for the whole quarter, or about Y/Z less/more than the budgeted amount. Last quarter, you spent A. You usually spend about B in a quarter.

</div>