
<%= render "form", transaction: Transaction.new %>

<br>
<h5>Transaction History</h5>

<%= render "qtdsum" %>
<br>

<div data-controller = "infinite-scroll" data-action = "scroll@window->infinite-scroll#scroll">
<div data-target = "infinite-scroll.entries">

<table class = "table table-striped" >
    <thead class="thead-light">
    <tr>
      <th scope="col-md-3">Date</th>
      <th scope="col">Amount</th>
      <th scope="col">Category</th>
      <th scope="col">Receipt</th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
    </thead>

 
  <%= render "transactions_feed" %>

</div>
</div>

</table>

<div data-target = "infinite-scroll.pagination">
  <%= pagy_bootstrap_nav(@pagy).html_safe %>
</div>