<div class="container">
  <div class="row">
    <div class="col">
      <%= pie_chart Transaction.group(:category).count, donut: true %>
    </div>
    <div class="col">
      <%= column_chart @transactions_amount_current_user, ytitle: "Amount", title: "#{current_user.username}'s Transactions"%>
    </div>
  </div>
</div>
